@model gestion_de_consulta.Models.usuarios

<link href="~/css/Style1.css" rel="stylesheet" />
<div class="container" id="advanced-search-form">
    <h2>Datos Personales</h2>
    <form>
        <div class="form-group">
            <label for="first-name">Cedula</label>
            <input type="text" class="form-control" value="@Model.cedula" id="Cedula" disabled>
        </div>
        <div class="form-group">
            <label for="last-name">Nombres</label>
            <input type="text" class="form-control" value="@Model.nombres" id="Nombres">
        </div>
        <div class="form-group">
            <label for="country">Apellidos</label>
            <input type="text" class="form-control" value="@Model.apellidos" id="Apellidos">
        </div>
        <div class="form-group">
            <label for="number">Telefono</label>
            <input type="text" class="form-control" value="@Model.telefono" id="Telefono">
        </div>
        <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" class="form-control" value="@Model.correo" id="Correo">
        </div>
        <div class="form-group">
            <label for="category">Clave</label>
            <input type="text" class="form-control" value="@Model.clave" id="Clave">
        </div>
        <div class="form-group">
            <label for="education">Confirmar Clave</label>
            <input type="text" class="form-control" id="C_clave">
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <button type="button" onclick="return ActualizarUsuario()" class="btn btn-success" id="B_actualizar">Actualizar</button>
            <button type="button" onclick="return Inicio()" class="btn btn-danger" id="B_Cancelar">Cancelar</button>
        </div>
    </form>
</div>



